<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Walle</title>
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="./static/css/Animated-Type-Heading.css">
    <link rel="stylesheet" href="./static/css/Black-Navbar.css">
    <link rel="stylesheet" href="./static/css/Bootstrap-4---Product-List.css">
    <link rel="stylesheet" href="./static/css/Login-Form-Clean.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button" style="background: rgb(13,110,253);border-radius: 20;border-top-left-radius: 20;border-top-right-radius: 20;border-bottom-right-radius: 20;border-bottom-left-radius: 20;border-style: none;padding-top: 0;padding-bottom: 10px;">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
                <ul class="navbar-nav nav-right">
                    <li class="nav-item"><a class="nav-link active" href="overview" style="color: var(--bs-btn-bg);">Overview</a></li>
                    <li class="nav-item"><a class="nav-link" href="clients_overview" style="color: var(--bs-gray-100);">Clients Overview</a></li>
                    <li class="nav-item"><a class="nav-link" href="suppliers_overview" style="color: var(--bs-gray-100);">Suppliers Overview</a></li>
                    <li class="nav-item"><a class="nav-link" href="products_overview" style="color: var(--bs-gray-100);">Products Overview</a></li>
                </ul>
                <p class="ms-auto nav-item"><p  style="color: white; margin-bottom:0px; margin-bottom:auto">
                <ul class="navbar-nav nav-right">
                    <li class="nav-item"><span class="nav-link " style=" margin-left; color: var(--bs-btn-bg);">Hello, {{user.name}} </span></li>
                    <li class="nav-item"><a class="nav-link" href="/" style="color: var(--bs-gray-100);">🔓</a></li>
                </ul></p>
            </div>
        </div>
    </nav>
    <section style="margin-right: 20%;margin-left: 20%;margin-top: 5%;">
        <div style="margin-right: 20px;margin-bottom: 20px;">
            <h1>Clients Overview</h1>
            <p>Number of clients:&nbsp;{{total}}<br></p>
            <p></p>
        </div>
        <div>
            <h3>Overview</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>E-mail</th>
                            <th>Total Spent</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in clients %}
                        <tr>
                            <td>{{i[0]}}</td>
                            <td>{{i[1]}}<br></td>
                            <td>{{i[2]}}<br></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>
    <script src="./static/js/Animated-Type-Heading.js"></script>
</body>

</html>