<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Store</title>
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="./static/css/Animated-Type-Heading.css">
    <link rel="stylesheet" href="./static/css/Black-Navbar.css">
    <link rel="stylesheet" href="./static/css/Bootstrap-4---Product-List.css">
    <link rel="stylesheet" href="./static/css/Login-Form-Clean.css">
</head>

<body>
    <section class="login-clean">
        <form method="post" action="create_supplier_func">
            <div class="mb-3"><a class="forgot" href="#" style="text-align: left;"></a>
                <p>What's the supplier e-mail?</p><input class="form-control" type="email" name="email" placeholder="email@email.com">
            </div>
            <div style="margin-bottom: 16px;">
                <p>What's the supplier name?</p><input class="form-control" type="text" name="name" placeholder="Lucas">
            </div>
            <div style="margin-bottom: 16px;">
                <p>What's the supplier fee?</p><input class="form-control" type="number" step="0.01" name="fee" placeholder="437">
            </div>
            <div class="mb-3">
                <p>Create a pre-password for the supplier</p><input class="form-control" type="password" name="password" placeholder="****">
            </div>
            <div style="margin-bottom: 16px;">
                <p>What's the company name?</p><input class="form-control" type="text" name="company" placeholder="TAP">
            </div>
            <div style="margin-bottom: 16px;">
                <p>What's the supplier address?</p><input class="form-control" type="text" name="address" placeholder="Vila Antiga da Pedrinha 11, Beja">
            </div>
            <div style="margin-bottom: 16px;">
                <p>What's the supplier Tax Number?</p><input class="form-control" type="text" name="tax_number" placeholder="589789589">
            </div>
            <div style="margin-bottom: 16px;">
                <p>What's the supplier telephone?</p><input class="form-control" type="text" name="telephone" placeholder="+351936156776">
            </div>
            <div style="margin-top: 16px;"></div><button class="btn btn-primary d-block w-100" type="submit" style="background: var(--bs-blue);">Create supplier account!</button>
        </form>
    </section>
    <script src="./static/bootstrap/js/bootstrap.min.js"></script>
    <script src="./static/js/Animated-Type-Heading.js"></script>
</body>

</html>