<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Store</title>
    <link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=League+Script&amp;display=swap">
    <link rel="stylesheet" href="./static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="./static/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="./static/css/styles.css">
</head>

<body>
    <section class="login-clean">
        <form method="post" action="signup">
            <h1 style="text-align: center;font-family: 'League Script', serif;font-weight: bold;color: var(--bs-blue);"><i class="icon ion-ios-cloud" style="color: var(--bs-blue);margin-bottom: 0;"></i>&nbsp;<br>Store</h1>
            <p style="color: red;">{{status}}</p>
            <div class="mb-3"><a class="forgot" href="#" style="text-align: left;"></a>
                <p>What's your e-mail?</p><input class="form-control" type="email" name="email" placeholder="Email">
            </div>
            <div style="margin-bottom: 16px;">
                <p>What's your first name?</p><input class="form-control" type="text" name="name" placeholder="Alan">
            </div>
            <div class="mb-3">
                <p>Choose a password</p><input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: var(--bs-blue);">Create my account!</button></div>
            <a class="forgot" href="/">Already have an account? <strong>Log-in here</strong>!</a>
        </form>
    </section>
    <script src="-/static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>